* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-height: 100svh; /* for mobile so the view port automatically accounts for the address bar going up and down*/
    /* this is to make the rest of the page a flex container that way the bottom of the content will grow if its not big enough to fill the page */
    display: flex;
    /* same with this*/
    flex-direction: column;
    font-family: sans-serif;
    background-color: rgb(188, 188, 188);
    align-items: center;
}

.content{
    
}

.header{
    font-size: 45px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 3px 0;
}

.add{
    font-size: 30px;
    background-color: white;
    border-radius: 90px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    height: 200px;
    background-color: white;
    border-radius: 10px;
    
}
.card{
    padding: 10px;
    width: 500px;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.card:hover, .add:hover{
    background-color: rgb(213, 213, 213);
}